<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brand Management </title>
    <link rel ="stylesheet" href=" /style.css">
</head>
<body>
    <h1>
        Brand Management
    </h1>
    <form action = "/add"  method ="POST">
        <input type  = "text" name ="name" placeholder ="Brand Name" required />
        <input type ="text" name ="description" placeholder ="Brand Description"/>
        <button type ="submit">Add Brand </button>

    </form>
    <!-- List of Brands-->
     <ul>
        <%brands.forEach(brand=>{%>
            <li>
                <strong><%=brand.name%></li></strong>:<%=brand.description%> 
                <a href ="/edit/<%=brand._id%>"> Edit </a>
                <form action = "/delete/<%=brand._id%>" method ="POST" style ="display:inline;">
                <button type ="submit">Delete</button>
                </form>
            </li>
            <% })%>
     </ul>
    
</body>
</html>