body{
    font-family:Arial,san-serif;
    padding:20px;
}
h1{
    color:#333;
}

form{
 margin-bottom:20px;
}
ul{
    list-style-type: none;

}

li{
    margin:10px 0;

}

button{
    margin-left:10px;
}